body {
	color: 	#333333;
	font-family: "Lucida Sas Unicode", "Lucida Grade", sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 940px;
}

.aga1 {
	background-image: url(../img/sobre-background.jpg);
}

h2 {
	border-bottom: 2px solid #333333;
}

p {
	padding: 0 45px;
	text-indent: 15px;
}

p::first-letter {
	font-weight: bold;
}

h1 + p {
	text-indent: 0;
}

p::first-line {
	font-variant: small-caps;
}

figure {
	background-color: #F2EDED;
	border: 1px solid #ccc;
	text-align: center;
	padding: 15px;
	margin: 30px;
}

figcaption {
	font-style: italic;
	margin-top: 10px;
}

#centro {
	margin-left: auto;
	margin-right: auto;
	width: 550px;
}

#familia {
	float: right;
	margin: 0 0 10px 10px;
}

/*#rodape {
	color: #777;
	margin: 30px 0;
	padding: 30px 0;
}

#rodape img {
	margin-right: 30px;
	vertical-align: middle;
	width: 94px;
}*/

.menu-opcoes ul {
	font-size: 15px;
}

.menu-opcoes a {
	color: #003366;
}

.menu-opcoes ul li {
	display: inline;
	margin-left: 20px;
}

body {
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grade", sans-serif;
}

.container {
	margin: 0 auto;
	width: 940px;
}

header {
	position: relative;
}

.menu-opcoes {
	position: absolute;
	bottom: 0;
	right: 0;
}

.sacola {
	background-image: url(../img/sacola.png);
	background-repeat: no-repeat;
	background-position: top right;

	font-size: 14px;
	padding-right: 35px;
	text-align: right;
	width: 140px;

	padding-top: 8px;

	position: absolute;
	top: 0;
	right: 0;
}

footer .container {
	background-image: url(../img/fundo-rodape.png);
}

footer {
	clear: both;
}

footer .container {
	padding: 8px 0;

	width: 940px;
}

footer .container {
	position: relative;

}

.social {
	position: relative;
	float: right;
	margin-top: 15px;
	margin-right: 10px;

}

.social li {
	float: left;
	margin-left: 25px;
}

.social a {
	height: 32px;
	width: 32px;

	display: block;
	text-indent: -9999px;
}

.social a[href*="facebook.com"] {
	background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
	background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
	background-image: url(../img/googleplus.png);
}

.essa {
	margin-left: 10px;
}