.sacola {
	background-image: url(../img/sacola.png);
	background-repeat: no-repeat;
	background-position: top right;

	font-size: 14px;
	padding-right: 35px;
	text-align: right;
	width: 140px;

	padding-top: 8px;

	position: absolute;
	top: 0;
	right: 0;
}

.menu-opcoes ul {
	font-size: 15px;
}

.menu-opcoes a {
	color: #003366;
	text-decoration: none;
}

.menu-opcoes ul li {
	display: inline;
	margin-left: 20px;
}

.menu-opcoes a:hover {
	color: #007DC6;
}

.menu-opcoes a:active {
	color: #867DC6;
}

body {
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grade", sans-serif;
}

.container {
	margin: 0 auto;
	width: 940px;
}

header {
	position: relative;
}

.menu-opcoes {
	position: absolute;
	bottom: 0;
	right: 0;
}

.menu-opcoes a:hover {
	color: #007DC6;
}

.menu-opcoes a:active {
	color: #867DC6;
}

.busca,
.menu-departamentos {
	background-color: #DCDCDC;
	font-weight: bold;
	text-transform: uppercase;

	margin-right: 10px;
	width: 230px;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
	margin: 10px;
}

.menu-departamentos li {
	background-color: white;
	margin-bottom: 1px;
	padding: 5px 10px;
}

.menu-departamentos a {
	color: #333333;
	text-decoration: none;
}

.busca input[type=search] {
	width: 170px;
}

.busca,
.menu-departamentos {
	float: left;
}

.busca {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.menu-departamentos {
	clear: left;
}

.destaque {
	margin-top: 10px;
}

.menu-departamentos {
	margin-top: 10px;
	padding-bottom: 10px;
}

.menu-departamentos li ul {
	display: none;
}

.menu-departamentos li:hover ul {
	display: block;
}

.menu-departamentos ul ul li {
	background-color: #DCDCDC;
}

.menu-departamentos li li a:before {
	content: '- ';
}

.painel {
	margin:  10px 0; 
	padding: 10px;
	width: 445px;
}

.painel {
	border-radius: 4px;
	box-shadow: inset 1px 1px 1px #999;
}

.painel h2 {
	text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.8);
}

.novidades {
	float: left;
}

.mais-vendidos {
	float: right;
}

.painel li {
	display: inline-block;
	vertical-align: top;
	width: 140px;

	margin: 2px;
	padding-bottom: 10px;
}

.painel h2 {
	font-size:  24px;
	font-weight: bold;
	text-transform: uppercase;

	margin-bottom: 10px;
}

.painel a {
	color: #333;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
}

.painel li:hover {
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 5px #333;
	transform: scale(1.2) rotate(-5deg);
}

.painel li:nth-child(2n):hover {
	transform: scale(1.2) rotate(-5deg);
}

.painel li:nth-child(2n-1):hover {
	transform: scale(1.2) rotate(5deg);
}

.painel li {
	transition: 0.7s 0.1s ease-in-out;
}

.novidades {
	background-color: #F5DCDC;
}

.mais-vendidos {
	background-color: #DCDCF5;
}

footer .container {
	background-image: url(../img/fundo-rodape.png);
}

.social a {
	height: 32px;
	width: 32px;

	display: block;
	text-indent: -9999px;
}

.social a[href*="facebook.com"] {
	background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
	background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
	background-image: url(../img/googleplus.png);
}

footer {
	clear: both;
}

footer .container {
	padding: 8px 0;

	width: 940px;
}

footer .container {
	position: relative;

}

.social {
	position: relative;
	float: right;
	margin-top: 15px;

}

.social li {
	float: left;
	margin-left: 25px;
}

/*.valebeijo {
	margin-left: 10px;
	margin-right: 10px;
}*/


@media (max-width: 939px) {
	.container {
		width: 96%;
	}

	header h1 {
		text-align: center;
	}

	header h1 img {
		max-width: 50%;
	}

	.sacola {
		display: none;
	}

	.menu-opcoes {
		position: static;
		text-align: center;
	}

	.menu-opcoes ul li {
		display: inline-block;
		margin: 5px;
	}

	.busca,
	.menu-departamentos,
	.banner-destaque img {
		margin-right: 0;
		width: 100%;
	}

	.painel {
		width: auto;
	}

	.painel li {
		width: 30%;
	}

	.painel img {
		width: 100%;
	}
}

@media (min-width: 480px) {
	header h1 {
		margin: 5px 0;
	}

	.menu-departamentos {
		padding-bottom: 10px;
		margin-bottom: 10px;
	}

	.menu-departamentos nav > ul {
		column-count: 2;
	}
}

@media (min-width: 720px) {
	header h1 {
		text-align: left;
	}

	.menu-opcoes {
		position: absolute;
	}

	.sacola {
		display: block;
	}

	.painel li {
		width: 15%;
	}

	.busca,
	.menu-departamentos {
		margin-right: 1%;
		width: 30%;
	}

	.menu-departamentos nav > ul {
		column-count: 1;
	}

	.banner-destaque img {
		width: 69%;
	}
}