.menu-opcoes ul {
	font-size: 15px;
}

.menu-opcoes a {
	color: #003366;
	text-decoration: none;
}

.menu-opcoes ul li {
	display: inline;
	margin-left: 20px;
}

.menu-opcoes a:hover {
	color: #007DC6;
}

.menu-opcoes a:active {
	color: #867DC6;
}

footer {
	display: none;
}

.cores label::after {
	content: '';
	display: block;

	border-radius: 50%;
	width: 50px;
	height: 50px;
}

label[for=verde]::after {
	background-color: #33CC66;
}

label[for=rosa]::after {
	background-color: #FF6666;
}

label[for=azul]::after {
	background-color: #6666FF;
}

.cores input:checked + label::after {
	border: 3px solid rgba(0, 0, 0, 0.3);
}

.cores input[type=radio] {
	display: none;
}

.cores input:not(:checked) + label img {
	display: none;
}

.cores label::after {
	position: absolute;
	top: 30px;
}

.cores {
	position: relative;
	padding-top: 90px;
}

label[for=verde]::after {
	left: 0;
}

label[for=rosa]::after {
	left: 60px;
}

label[for=azul]::after {
	left: 120px;
}

.cores label img {
	display: block;
	max-width: 100%;
}

.cores label::after {
	border: solid rgba(0, 0, 0, 0.1);
	transition: 1s;
}

.cores label::after {
	cursor: pointer;
}

.produto {
	color: #333;
	line-height: 1.3;
	margin-top: 2em;
}

.produto h1 {
	font-size: 1.8em;
	font-weight: bold;
}

.produto p {
	font-size: 1.2em;
	font-style: italic;
	margin-bottom: 1em;
}

.produto legend {
	display: block;
	font: bold 0.9em/2.5 Arial;
	text-transform: uppercase;
}

.comprar {
	background: #91BD3C;
	border: none;
	color: #333;

	font-size: 1.4em;
	text-transform: uppercase;

	box-shadow: 0 1px 3px #777;

	display: block;
	padding: 0.5em 1em;
	margin: 1em 0;

	cursor: pointer;
}

.comprar a {
	text-decoration: none;
	color: black;
}

.detalhes {
	padding: 2em 0;
}

.detalhes h2 {
	font-size: 1.5em;
	line-height: 2;
}

.detalhes p {
	margin: 1em 0;
	font-size: 1em;
	line-height: 1.5;
	max-width: 36em;
}

table {
	border-spacing: 0.2em;
	border-collapse: separate;
}

thead {
	background-color: #999;
}

thead th {
	font-weight: bold;
	padding: 0.3em 1em;
	text-align: center;
}

td {
	padding: 0.3em;
}

tr:nth:child(2n) {
	background-color: #CCC;
}

td:first-child {
	font-style: italic;
}

@media (min-width: 500px) {
	.detalhes {
		font-size: 1.2em;
	}
}

@media (min-width: 630px) {
	.produto {
		position: relative;
		padding-left: 40%;
	}

	.cores {
		position: static;
		padding: 0;
	}

	.cores legend {
		position: static;
	}

	.cores label img {
		position: absolute;
		top: 0;
		left: 0;
	}

	.cores label:after {
		position: static;
		float: left;
	}

	.cores label img {
		max-width: 35%;
		max-height: 103%;
	}

	.produto {
		font-size: 1.2em;
	}

	.cores label::after {
		margin-right: 10px;
	}

	fieldset {
		display: inline-block;
		vertical-align: top;

		margin: 1em 0;
		min-width: 240px;
		width: 45%;
	}
}